<!doctype html>
<html lang="en">
	<head>
		<title>Trackr Attendance</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div class="container" style="margin-bottom: 75px;">
		  <div class="mt-3">
			{{{body}}}
		  </div>
		</div>

		<nav class="navbar navbar-expand-md navbar-light fixed-bottom" style="background-color: #fab300;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav nav-fill w-100">
					<li class="nav-item">
						<a class="nav-link text-white" href="#"><i class="fa fa-home" aria-hidden="true"></i>
 Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#"><i class="fa fa-users" aria-hidden="true"></i>
 Classes <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#"><i class="fa fa-search" aria-hidden="true"></i>
 Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#"><i class="fa fa-cog" aria-hidden="true"></i>
 Settings</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/ce792d9ad3.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyBs2JoP5ITTGrbGFqetGPeYGc_9Dron3Sk",
		    authDomain: "trackr-attendance.firebaseapp.com",
		    databaseURL: "https://trackr-attendance.firebaseio.com",
		    projectId: "trackr-attendance",
		    storageBucket: "trackr-attendance.appspot.com",
		    messagingSenderId: "422932587783"
		  };
		  firebase.initializeApp(config);
		</script>
		<script src="/static/js/onboarding/faces.js"></script>
		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/handlebars.js"></script>
		<script src="/static/js/onboarding/roster.js"></script>
		<!-- Dashboard / Home -->
		<script src="//d3js.org/d3.v3.js"></script>
		<script src="/static/js/dashboard/engagement.js"></script>
	</body>
</html>